%btn {
   padding: 5px 10px;
   font-family: "Open Sans";
   font-weight: 700;
   font-size: 14px;
   line-height: 1;
   text-align: center;
   text-transform: uppercase;
   color: $color_main;
   border: 1px solid #ffcc00;
   background-color: #fff;
}
